:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-duration: 250ms;
  }

  
  .gallery {
    display: grid;
    max-width: 1140px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-auto-rows: 240px;
    grid-gap: 5px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .classBtn{
    display: flex;
    justify-content: center;
  }
/*  
  input{
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(238, 6, 6, 0.19);

  } */
 
  .photo-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;

    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  }
  
  .thumb {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    /* width: 200px; */
    /* border: 2px dashed #2a2a2a; */
    border-radius: 4px;
  }
  
  .thumb > img {
    display: block;
    height: 100%;
    width: 100%;
    transition: transform var(--animation-duration) var(--timing-function);
  }


  .thumb > img:hover {
    transform: scale(1.03);
  }
  
  .gallery__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* transition: transform var(--animation-duration) var(--timing-function); */
  }
  
  /* .gallery__link { */
    /* display: block; */
    /* text-decoration: none; */
    /* height: 100%; */
  /* } */
  
  /* .gallery__link:hover {
    cursor: zoom-in;
  } */

  .info{
    border: 1px;
    border-color: black;
    /* background-color: aquamarine; */
    display: flex;
    gap: 2px;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
  }
  .info-item{
    text-align: center;
    font-size: 9px;
  }

  .search-form{
    display:flex;
    gap: 5px;
    justify-content: center;
    background-color: blue;
    margin-top:0;
    padding:20px;
    
    
    position: sticky;
    top: 0;
    z-index: 999;
  }

  
  button {
    position: relative;
    overflow: hidden;
    background: #42455a;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    font-size: 8px;
    color: #e0ffff;
    font-weight: 500;
    cursor: pointer;
    z-index: 1;
  }
  button:active{
    transform: scale(0.95);
  }
  button::before{
    content: '';
    position: absolute;
    inset: -1px 15px;
    background: #00c2cb;
    transition: 500ms;
    animation: rotate 4s linear infinite;
    z-index: -1;
  }
  button:hover::before{
    inset: -1px;
  }
  button::after{
    content: '';
    position: absolute;
    inset: 3px;
    border-radius: 50%;
    background: #22232e;
    z-index: -1;
  }
  @keyframes rotate {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }


  .hidden{
    display: none;
  }
